@use '../variables' as *;

.book-card {
  // Removed container styling (bg, shadow, padding) as it's now handled by the parent .book-list-item
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  width: 100%;

  .book-cover {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border-radius: $spacing-xs;
    margin-bottom: $spacing-md;
    background-color: $border-color;
  }

  .book-title {
    font-size: $font-size-lg;
    font-weight: bold;
    margin-bottom: $spacing-xs;
    color: $text-primary;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .book-author {
    font-size: $font-size-base;
    color: $text-secondary;
    margin-bottom: $spacing-sm;
    font-style: italic;
  }

  .book-description {
    font-size: $font-size-sm;
    color: $text-secondary;
    margin-bottom: $spacing-md;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex-grow: 1;
  }

  .book-year, .genre, .book-pagecount {
    font-size: $font-size-sm;
    color: $text-secondary;
    margin-bottom: $spacing-xs;
  }
}
