.reading-list-section {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 20px;
  color: black;
  background: white;

  h3 {
    margin-top: 0;
  }
}

.reading-list-tabs {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;

  button {
    margin-right: 10px;
    background: white;
    border: 1px solid black;
    cursor: pointer;
    padding: 2px 10px;

    &.active {
      background: black;
      color: white;
    }
  }
}

.reading-list-content {
  margin-top: 10px;
}
